vln_car/build/
*/devel/
*/install/
*/build/

/Livox-SDK/build/

vln_car/src/vln/src/__pycache__/
datasets/

hpx_test/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
vln_car/src/fast_lio_mid360/Log/mat_pre.txt
vln_car/src/reconstruction/src/__pycache__/gimbal_interface.cpython-38.pyc
